<div class="sidebar-content">
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <li><a href="http://127.0.0.1:5500/app/admin/dashboard/" class="nav-item">🏠 Inicio</a></li>
            <li><a href="/app/admin/periodo-escolar/" class="nav-item">🏫 Período escolar</a></li>
            <li><a href="/app/admin/periodo-inscripcion/" class="nav-item">📋 Período de inscripción</a></li>
            <li><a href="/app/admin/representantes/" class="nav-item">👨‍👩‍👧‍👦 Representantes</a></li>
            <li><a href="/app/admin/estudiantes/" class="nav-item">🎓 Estudiantes</a></li>
            <li><a href="/app/admin/asistencia/admin_asistencia.html" class="nav-item">✅ Asistencias</a></li>
            <li><a href="/app/admin/calificaciones/index.html" class="nav-item">📝 Boletas</a></li>
            <li><a href="/app/admin/docentes/" class="nav-item">👨‍🏫 Docentes</a></li>
            <li><a href="/app/admin/materias/" class="nav-item">📚 Materias</a></li>
            <li><a href="/app/admin/horarios/" class="nav-item">📅 Horarios</a></li>
            <li><a href="/app/admin/lapsos/index.html" class="nav-item">🗓️ Lapsos</a></li>
            <li><a href="/app/admin/auditorias/" class="nav-item">🧾 Auditorías</a></li>
            <li><a href="/app/admin/respaldo/" class="nav-item">💾 Respaldos</a></li>
            <li><a href="/app/admin/manual/" class="nav-item">📖 Manual de Usuario</a></li>
        </ul>
    </nav>
</div>
